body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 600px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#auth-login-container {
    margin-top: 15px;
}

.row-fluid ul.thumbnails li.span12 + li { margin-left : 0px; }
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) { margin-left : 0px; }

img {
    opacity:0.3;
    filter:alpha(opacity=40); /* For IE8 and earlier */
}

img:hover {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
a.active img {
    opacity:1.0;
    filter:alpha(opacity=100); /* For IE8 and earlier */
}
a.active {
    
    -webkit-backface-visibility: hidden; /* Chrome */
    outline: 1px solid transparent; /* Firefox */

    transform: rotate(7deg);
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari and Chrome */
    -o-transform: rotate(7deg); /* Opera */
    -moz-transform: rotate(7deg); /* Firefox */
}